APP_NAME=Backend Tesis Apnea
APP_ENV=development

# Ruta del modelo entrenado
MODEL_PATH=C:\UNIVERSIDAD\DataSetApnea\modelo_apnea_central_0-3.pth
MODEL_THRESHOLD=0.5

# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tesis_apnea
DB_USER=postgres
DB_PASSWORD=postgres

# CORS: separa origenes con coma. Usa * solo en desarrollo.
CORS_ORIGINS=*
